#chart-container{
	width: calc(100% - 20px);
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
}

#mortality-chart {
	
	box-sizing: border-box;
	box-shadow: 2px 2px 7px #848484;
}
#mortality-info {
	padding: 10px;
	box-sizing: border-box;
}

.line {
	fill: none;
	stroke: url(#line-gradient);
	fill: url(#temperature-gradient);
	stroke-width: 1.5px;
}

.contributionContainer tr.contribution td{
	padding: 4px;
}

.contributionContainer tr.contribution td.date{
	padding-left: 0;
}

.contributionContainer tr.contribution td.score{
	padding-right: 0;
}

.tick text {
	font-size: 1.2em;
}

.grid line{
	stroke: #c7c7c7;
	stroke-dasharray: 8,8;
}