#content {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

#chart-container{
	width: 1300px;
	display: flex;
	margin-right: 10px;
}

#mortality-chart {
	
	box-sizing: border-box;
	box-shadow: 2px 2px 7px #848484;
}
#mortality-info {
	padding: 10px;
	box-sizing: border-box;
	flex: 1;
	margin-left: 24px;
	box-shadow: 2px 2px 7px #848484;
}

.line {
	fill: none;
	stroke: url(#line-gradient);
	fill: url(#temperature-gradient);
	stroke-width: 1.5px;
}

.contributionContainer tr.contribution td{
	padding: 4px;
	border: 1px solid #676767;
}


.contributionContainer tr.contribution td.code{
	min-width: 70px;
	padding-left: 10px;
	padding-right: 5px;
}

.contributionContainer tr.contribution td.score{
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.contributionContainer tr.contribution td.name{
	padding-right: 0;
}

.contributionTable {
	width: 100%;
}

.contributionTable tr:first-child {
	background: rgb(215,215,215);
	background: linear-gradient(0deg, rgba(215,215,215,1) 0%, rgba(255,255,255,1) 100%);
}

.tick text {
	font-size: 1.2em;
}

.x-axis .tick text {
	font-size: 1em;
}

.grid line{
	stroke: #c7c7c7;
	stroke-dasharray: 8,8;
}

.contributionButton {
    background: #ffffff;
    border: 1px solid #4A90E2;
    color: #4A90E2;
    border-radius: 3px;
    margin: 7px;
    width: 160px;
    height: 45px;
    font-size: 1.2em;
    font-weight: bold;
}


.contributionButton:disabled {
	background: #d4d4d4;
	color: grey;
}

.observationTable {
	width: 100%;
}

.observationTable tr:first-child {
	background: rgb(215,215,215);
	background: linear-gradient(0deg, rgba(215,215,215,1) 0%, rgba(255,255,255,1) 100%);
}

.observationTable td {
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #676767;
}

#observation-info {
	box-shadow: 2px 2px 7px #848484;
	margin-top: 18px;
	min-height: 172px;
	padding: 10px;
}

.observationTable td.code {
	min-width: 50px;
}
.observationTable td.name {
	min-width: 400px;
}
.observationTable td.value {
	min-width: 50px;
}
.observationTable td.units {
	min-width: 50px;
}


#tooltip {
	position: absolute;
	padding: 10px;
	background: white;
	border-radius: 7px;
	pointer-events: none;
	box-shadow: 2px 2px 15px #848484;
}


#tooltip table td {

}