{% extends "base.html" %}
{% block title %}Patient{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Patient</h1>
  <form role="form" method='POST' action='/chart'>
    <div class="form-group">
      <input type="text" name="name" class="form-control" id="url-box" placeholder="Enter Name" style="max-width: 300px;" autofocus required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <br>
  {% for error in errors %}
    <h4>{{ error }}</h4>
  {% endfor %}
  <br>
  {% if patients %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>name</th>
          <th>birthdate</th>
          <th>gender</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in patients %}
          <tr>
            <td> <a href="{{ url_for('patient', patientID=patient.resource.id) }}">{{ patient.resource.name[0].given[0]}} {{ patient.resource.name[0].family[0]}} </a> </td>
            <td>{{ patient.resource.birthDate.isostring }}</td>
            <td>{{ patient.resource.gender }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% elif request.form['name'] %}
    <h4>Could not find any name matching with " {{request.form['name']}}"</h4>
  {% endif %}
{% endblock %}
