<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <link rel="stylesheet" href="/static/stylesheets/chart.css">

        <title>Patient Code</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div id="content">
            <h1>Patient: {{ patientID }}</h1>
            <h2>Mortality Prediction: {{ mortalityPrediction }}</h2>
            <div id="chart-container">
                <svg id="mortality-chart" width="800" height="500"></svg>
                <div id="mortality-info"></div>
            </div>
            <br>
            {% for error in errors %}
                <h4>{{ error }}</h4>
            {% endfor %}
            <br>
            {% if codes %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>encounter</th>
                            <th>startDate</th>
                            <th>icd Code</th>
                            <th>contribution score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for encounter in encounters %}
                            <tr>
                                <td>{{ encounter["id"] }}</td>
                                <td>{{ encounter["startDate"].isostring}}<td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% for code, score in codes[encounter["id"]] %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>{{ code }}</td>
                                    <td>{{ score }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            
            
        </div>
        <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>
        <script src="/static/javascripts/Chart.js"></script>
        <script type="text/javascript">

            /*
            two structs:
            encounters, and codes

            var encounters = [
                {
                    id: String
                    startDate: Date,
                    endDate: Date,
                    prediction: Number,
                    contributions: [
                        [Number, Number, ...],
                    ],
                    observations: [
                        {
                            code: String,
                            name: String,
                            units: String,
                            value: Number,
                        }
                    ],
                }
            ];

            var codes = [
                {
                    code: String,
                    name: String,
                }
            ];

            */

            var contribution_shape = [
                {% for key in keys %}
                    [ {% for code, score in codes[key] %}0,{% endfor %} ],
                {% endfor %}
            ];

            var codes = [
                {% for key in keys %}
                    [ {% for code, score in codes[key] %}
                        {
                            'code': '{{ code }}',
                            'name': '',
                        },
                    {% endfor %} ],
                {% endfor %}
            ];

            function makeRandomContributions(shape){
                var ret = [];
                for(var i = 0; i < shape.length; i++){
                    var encounter = [];
                    for(var j = 0; j < shape[i].length; j++){
                        encounter.push(Math.random() * 2 - 1);
                    }
                    ret.push(encounter);
                }
                return ret;
            }

            var encounterData = [
                {% for encounter in encounters %}
                    {
                        'ID': {{ encounter["id"] }}, 
                        'startDate': new Date('{{ encounter["startDate"] }}'),
                        'endDate': new Date('{{ encounter["endDate"] }}'),
                        'prediction': {{ incrementalPredictions[loop.index - 1] }},
                        'idx': {{ loop.index - 1}}, 
                    },
                {% endfor %}
            ];

            for(var i = 0; i < encounterData.length; i++){
                encounterData[i].contributions = makeRandomContributions(contribution_shape.slice(0, i + 1));
            }

            var svg = $('#mortality-chart');
            var infoContainer = $('#mortality-info')
            
            var chart = new Chart(encounterData, codes, svg, infoContainer);
            
        
        </script>
    </body>
</html>