<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <link rel="stylesheet" href="/static/stylesheets/chart.css">

        <title>Patient Code</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div id="content">
            <h1>Patient: {{ patientID }}</h1>
            <h2>Mortality Risk: {{ mortalityPrediction }}</h2>
            <div id="chart-container">
                <div class="svg-container">
                    <svg id="mortality-chart" width="800" height="500"></svg>
                    <div id="observation-info"></div>
                </div>
                <div id="mortality-info"></div>
            </div>
            <br>
            {% for error in errors %}
                <h4>{{ error }}</h4>
            {% endfor %}
            <br>
            
            
        </div>
        <div id="tooltip"></div>
        <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
        <script src="/static/javascripts/Chart.js"></script>
        <script type="text/javascript">

            var socket = io();

            var codes = {
                {% for key in codeDict %}
                    '{{ key }}': [
                    {% for data in codeDict[key] %}
                        {
                            'code': '{{ data["code"] }}',
                            'name': '{{ data["name"] }}',
                        },
                    {% endfor %} ],
                {% endfor %}
            };

            var encounterData = [
                {% for encounter in encounters %}
                    {
                        'ID': {{ encounter["id"] }}, 
                        'startDate': new Date('{{ encounter["startDate"] }}'),
                        'endDate': new Date('{{ encounter["endDate"] }}'),
                        'prediction': {{ incrementalPredictions[loop.index - 1] }},
                        'idx': {{ loop.index - 1}}, 
                        'contributions': {{ incrementalContributions[loop.index - 1] }}
                    },
                {% endfor %}
            ];

            var svg = $('#mortality-chart');
            var infoContainer = $('#mortality-info')
            var observationContainer = $('#observation-info')
            
            var chart = new Chart(encounterData, codes, svg, infoContainer, observationContainer);


            socket.on('get observations', function(message){
                chart.setObservationData(message.observationData);
            });


            $(document).ready(function(){

                socket.emit('get observations', {patientId: {{ patientID }} });

            });
            
        
        </script>
    </body>
</html>